### Extract one month data for new medicines since we need to predict for only 1 month

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import json
import math
import os
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import mean_squared_error

In [3]:
path=os.getcwd()
path

'C:\\Users\\jayam\\Downloads\\7879phd'

In [12]:
test=pd.read_csv(path +"\\test_final.csv", sep=",", na_values=["?",",","#","NaN","unknown",""],usecols=["date","id","city_medicine","old_new","city","medicine"])# read the test data

In [3]:
train=pd.read_csv(path +"\\train_final.csv", sep=",", na_values=["?",",","#","NaN","unknown",""],usecols=["date","city_medicine","sales","old_new"])# read the train data

In [5]:
train["date"]=pd.to_datetime(train["date"])#convert to datetime

In [6]:
train.head(2)# see head

        date  sales city_medicine old_new
0 2015-01-02   24.0           1_1     old
1 2015-01-02  144.0           1_2     old

In [7]:
newtrn_city_meds=list(train[train["old_new"]=="new"]["city_medicine"].unique())# collect all the new city_medicine combinations in train

In [13]:
newtst_city_meds=list(test[test["old_new"]=="new"]["city_medicine"].unique())# collect all the new city_medicine combinations in test

In [23]:
len(newtrn_city_meds),len(newtst_city_meds)## getting length of new medicine list for train and test data

(20720, 313)

- So there are 313 new city medicines in test data which are not present in train data, so how do we predict the sales of unknown medicines?

- As we need to predict the sales of unknown medicines also for only 1 month ,let us extract the sales of all new medicines in train for only 1 month

In [8]:
newtrn_city_meds# list of new city medicinesin train

['1_1205',
 '1_1207',
 '1_1209',
 '1_1214',
 '1_1215',
 '1_1218',
 '1_1219',
 '1_1220',
 '1_1222',
 '1_1223',
 '1_1226',
 '1_1230',
 '1_1235',
 '1_1237',
 '1_1239',
 '1_1240',
 '1_1243',
 '1_1244',
 '1_1245',
 '1_1246',
 '1_1247',
 '1_1252',
 '1_1254',
 '1_1260',
 '1_1261',
 '1_1264',
 '1_1265',
 '1_1270',
 '1_1276',
 '1_1278',
 '1_1280',
 '1_1281',
 '1_1288',
 '1_1289',
 '1_1295',
 '1_1296',
 '1_1302',
 '1_1318',
 '1_1322',
 '1_1327',
 '1_1332',
 '1_1335',
 '1_1340',
 '1_1343',
 '1_1344',
 '1_1348',
 '1_1349',
 '1_1366',
 '1_1368',
 '1_1371',
 '1_1375',
 '1_1386',
 '2_8',
 '2_15',
 '2_36',
 '2_43',
 '2_45',
 '2_77',
 '2_95',
 '2_97',
 '2_107',
 '2_109',
 '2_135',
 '2_144',
 '2_168',
 '2_187',
 '2_197',
 '2_217',
 '2_302',
 '2_303',
 '2_329',
 '2_336',
 '2_337',
 '2_353',
 '2_360',
 '2_375',
 '2_400',
 '2_415',
 '2_444',
 '2_448',
 '2_467',
 '2_498',
 '2_516',
 '2_609',
 '2_618',
 '2_654',
 '2_657',
 '2_778',
 '2_784',
 '2_799',
 '2_801',
 '2_851',
 '2_882',
 '2_897',
 '2_920',
 '2_941',
 '2_942',
 '2_962',
 '2_970',
 '2_972',
 '2_1007',
 '2_1008',
 '2_1011',
 '2_1014',
 '2_1015',
 '2_1021',
 '2_1027',
 '2_1035',
 '2_1042',
 '2_1043',
 '2_1052',
 '2_1094',
 '2_1100',
 '2_1133',
 '2_1141',
 '2_1151',
 '2_1152',
 '2_1156',
 '2_1163',
 '2_1173',
 '2_1179',
 '2_1188',
 '2_1189',
 '2_1192',
 '2_1196',
 '2_1295',
 '2_1300',
 '2_1302',
 '2_1314',
 '2_1315',
 '2_1318',
 '2_1322',
 '2_1323',
 '2_1329',
 '2_1335',
 '2_1336',
 '2_1341',
 '2_1356',
 '2_1359',
 '2_1374',
 '2_1380',
 '3_16',
 '3_99',
 '3_103',
 '3_138',
 '3_141',
 '3_180',
 '3_202',
 '3_220',
 '3_230',
 '3_243',
 '3_265',
 '3_399',
 '3_440',
 '3_463',
 '3_479',
 '3_505',
 '3_524',
 '3_537',
 '3_595',
 '3_603',
 '3_618',
 '3_711',
 '3_713',
 '3_732',
 '3_734',
 '3_736',
 '3_793',
 '3_873',
 '3_887',
 '3_915',
 '3_976',
 '3_1000',
 '3_1040',
 '3_1052',
 '3_1112',
 '3_1118',
 '3_1133',
 '3_1145',
 '3_1163',
 '3_1177',
 '3_1188',
 '3_1190',
 '3_1202',
 '3_1212',
 '3_1221',
 '3_1223',
 '3_1259',
 '3_1261',
 '3_1265',
 '3_1283',
 '3_1286',
 '3_1340',
 '3_1344',
 '3_1347',
 '3_1348',
 '3_1351',
 '3_1356',
 '3_1363',
 '3_1366',
 '3_1367',
 '3_1368',
 '3_1371',
 '3_1375',
 '3_1383',
 '3_1385',
 '3_1386',
 '3_1394',
 '4_51',
 '4_110',
 '4_136',
 '4_265',
 '4_311',
 '4_326',
 '4_380',
 '4_400',
 '4_504',
 '4_554',
 '4_589',
 '4_590',
 '4_647',
 '4_674',
 '4_680',
 '4_682',
 '4_748',
 '4_819',
 '4_879',
 '4_920',
 '4_1038',
 '4_1057',
 '4_1058',
 '4_1090',
 '4_1112',
 '4_1132',
 '4_1137',
 '4_1170',
 '4_1202',
 '4_1218',
 '4_1223',
 '4_1234',
 '4_1236',
 '4_1252',
 '4_1275',
 '4_1289',
 '4_1295',
 '4_1301',
 '4_1320',
 '4_1368',
 '5_22',
 '5_35',
 '5_56',
 '5_71',
 '5_133',
 '5_137',
 '5_167',
 '5_180',
 '5_279',
 '5_286',
 '5_299',
 '5_376',
 '5_393',
 '5_448',
 '5_491',
 '5_728',
 '5_748',
 '5_767',
 '5_770',
 '5_784',
 '5_800',
 '5_802',
 '5_927',
 '5_945',
 '5_954',
 '5_998',
 '5_1019',
 '5_1034',
 '5_1039',
 '5_1040',
 '5_1044',
 '5_1047',
 '5_1090',
 '5_1129',
 '5_1166',
 '5_1184',
 '5_1196',
 '5_1204',
 '5_1212',
 '5_1279',
 '5_1282',
 '5_1294',
 '5_1296',
 '5_1306',
 '5_1313',
 '5_1326',
 '5_1348',
 '5_1350',
 '5_1354',
 '5_1361',
 '6_117',
 '6_209',
 '6_210',
 '6_214',
 '6_251',
 '6_282',
 '6_332',
 '6_334',
 '6_378',
 '6_399',
 '6_428',
 '6_449',
 '6_523',
 '6_524',
 '6_546',
 '6_608',
 '6_655',
 '6_658',
 '6_707',
 '6_718',
 '6_772',
 '6_798',
 '6_810',
 '6_854',
 '6_862',
 '6_873',
 '6_926',
 '6_1038',
 '6_1040',
 '6_1063',
 '6_1111',
 '6_1112',
 '6_1188',
 '6_1218',
 '6_1221',
 '6_1224',
 '6_1225',
 '6_1231',
 '6_1243',
 '6_1249',
 '6_1261',
 '6_1269',
 '6_1278',
 '6_1286',
 '6_1292',
 '6_1298',
 '6_1317',
 '6_1323',
 '6_1337',
 '6_1341',
 '6_1360',
 '6_1367',
 '6_1374',
 '6_1389',
 '7_17',
 '7_52',
 '7_77',
 '7_152',
 '7_207',
 '7_216',
 '7_283',
 '7_308',
 '7_357',
 '7_377',
 '7_379',
 '7_393',
 '7_398',
 '7_400',
 '7_449',
 '7_541',
 '7_708',
 '7_735',
 '7_739',
 '7_784',
 '7_815',
 '7_864',
 '7_879',
 '7_939',
 '7_952',
 '7_954',
 '7_1008',
 '7_1063',
 '7_1119',
 '7_1163',
 '7_1171',
 '7_1172',
 '7_1191',
 '7_1212',
 '7_1229',
 '7_1241',
 '7_1249',
 '7_1269',
 '7_1277',
 '7_1292',
 '7_1296',
 '7_1297',
 '7_1301',
 '7_1316',
 '7_1332',
 '7_1333',
 '7_1338',
 '7_1349',
 '7_1361',
 '7_1367',
 '7_1388',
 '7_1395',
 '8_52',
 '8_77',
 '8_106',
 '8_121',
 '8_126',
 '8_176',
 '8_190',
 '8_223',
 '8_260',
 '8_265',
 '8_279',
 '8_282',
 '8_302',
 '8_307',
 '8_326',
 '8_329',
 '8_347',
 '8_383',
 '8_399',
 '8_441',
 '8_458',
 '8_523',
 '8_587',
 '8_610',
 '8_615',
 '8_638',
 '8_652',
 '8_654',
 '8_674',
 '8_718',
 '8_729',
 '8_810',
 '8_813',
 '8_814',
 '8_819',
 '8_825',
 '8_851',
 '8_853',
 '8_856',
 '8_901',
 '8_920',
 '8_922',
 '8_945',
 '8_953',
 '8_962',
 '8_994',
 '8_1000',
 '8_1015',
 '8_1017',
 '8_1044',
 '8_1072',
 '8_1138',
 '8_1140',
 '8_1156',
 '8_1160',
 '8_1171',
 '8_1204',
 '8_1205',
 '8_1230',
 '8_1240',
 '8_1242',
 '8_1252',
 '8_1280',
 '8_1292',
 '8_1296',
 '8_1312',
 '8_1317',
 '8_1323',
 '8_1331',
 '8_1332',
 '8_1342',
 '8_1356',
 '9_106',
 '9_270',
 '9_271',
 '9_282',
 '9_317',
 '9_361',
 '9_393',
 '9_399',
 '9_400',
 '9_403',
 '9_423',
 '9_428',
 '9_441',
 '9_461',
 '9_468',
 '9_469',
 '9_554',
 '9_603',
 '9_627',
 '9_705',
 '9_708',
 '9_718',
 '9_752',
 '9_774',
 '9_806',
 '9_810',
 '9_818',
 '9_863',
 '9_892',
 '9_897',
 '9_912',
 '9_918',
 '9_928',
 '9_1002',
 '9_1010',
 '9_1017',
 '9_1063',
 '9_1117',
 '9_1156',
 '9_1164',
 '9_1190',
 '9_1193',
 '9_1208',
 '9_1210',
 '9_1214',
 '9_1222',
 '9_1223',
 '9_1232',
 '9_1260',
 '9_1286',
 '9_1289',
 '9_1291',
 '9_1292',
 '9_1298',
 '9_1300',
 '9_1307',
 '9_1312',
 '9_1314',
 '9_1322',
 '9_1324',
 '9_1345',
 '9_1351',
 '9_1396',
 '10_4',
 '10_9',
 '10_43',
 '10_76',
 '10_85',
 '10_133',
 '10_138',
 '10_150',
 '10_163',
 '10_176',
 '10_201',
 '10_236',
 '10_265',
 '10_277',
 '10_284',
 '10_302',
 '10_345',
 '10_405',
 '10_423',
 '10_425',
 '10_516',
 '10_553',
 '10_578',
 '10_590',
 '10_595',
 '10_603',
 '10_646',
 '10_675',
 '10_690',
 '10_730',
 '10_731',
 '10_793',
 '10_810',
 '10_813',
 '10_831',
 '10_846',
 '10_861',
 '10_878',
 '10_898',
 '10_926',
 '10_928',
 '10_953',
 '10_954',
 '10_956',
 '10_972',
 '10_1040',
 '10_1062',
 '10_1066',
 '10_1073',
 '10_1092',
 '10_1122',
 '10_1132',
 '10_1138',
 '10_1147',
 '10_1176',
 '10_1177',
 '10_1190',
 '10_1199',
 '10_1202',
 '10_1225',
 '10_1255',
 '10_1257',
 '10_1261',
 '10_1278',
 '10_1301',
 '10_1313',
 '10_1323',
 '10_1345',
 '10_1349',
 '10_1394',
 '1_1204',
 '1_1206',
 '1_1216',
 '1_1217',
 '1_1221',
 '1_1229',
 '1_1233',
 '1_1236',
 '1_1248',
 '1_1249',
 '1_1255',
 '1_1268',
 '1_1269',
 '1_1284',
 '1_1286',
 '1_1291',
 '1_1297',
 '1_1301',
 '1_1306',
 '1_1307',
 '1_1314',
 '1_1317',
 '1_1326',
 '1_1336',
 '1_1337',
 '1_1341',
 '1_1347',
 '1_1356',
 '1_1373',
 '1_1374',
 '1_1380',
 '1_1389',
 '1_1395',
 '1_1397',
 '2_119',
 '2_158',
 '2_284',
 '2_288',
 '2_345',
 '2_356',
 '2_378',
 '2_423',
 '2_452',
 '2_469',
 '2_586',
 '2_603',
 '2_673',
 '2_700',
 '2_728',
 '2_892',
 '2_1082',
 '2_1086',
 '2_1113',
 '2_1139',
 '2_1194',
 '2_1195',
 '2_1292',
 '2_1313',
 '2_1317',
 '2_1326',
 '2_1330',
 '2_1342',
 '2_1361',
 '2_1366',
 '2_1385',
 '2_1394',
 '2_1397',
 '3_50',
 '3_118',
 '3_147',
 '3_153',
 '3_187',
 '3_379',
 '3_554',
 '3_555',
 '3_612',
 '3_622',
 '3_632',
 '3_647',
 '3_728',
 '3_730',
 '3_753',
 '3_777',
 '3_784',
 '3_863',
 '3_872',
 '3_894',
 '3_940',
 '3_972',
 '3_1022',
 '3_1132',
 '3_1136',
 '3_1148',
 '3_1203',
 '3_1217',
 '3_1218',
 '3_1219',
 '3_1235',
 '3_1252',
 '3_1264',
 '3_1280',
 '3_1282',
 '3_1341',
 '3_1343',
 '3_1346',
 '3_1352',
 '3_1354',
 '3_1361',
 '3_1374',
 '3_1389',
 '3_1393',
 '3_1395',
 '3_1397',
 '3_1398',
 '4_77',
 '4_126',
 '4_284',
 '4_449',
 '4_452',
 '4_621',
 '4_724',
 '4_784',
 '4_1144',
 '4_1216',
 '4_1217',
 '4_1325',
 '4_1326',
 '4_1363',
 '4_1367',
 '4_1380',
 '4_1389',
 '4_1397',
 '5_160',
 '5_270',
 '5_329',
 '5_477',
 '5_542',
 '5_666',
 '5_718',
 '5_864',
 '5_871',
 '5_993',
 '5_1052',
 '5_1057',
 '5_1193',
 '5_1216',
 '5_1303',
 '5_1316',
 '5_1338',
 '5_1386',
 '5_1388',
 '5_1393',
 '5_1397',
 '6_84',
 '6_126',
 '6_195',
 '6_265',
 '6_320',
 '6_404',
 '6_477',
 '6_488',
 '6_603',
 '6_607',
 '6_615',
 '6_647',
 '6_663',
 '6_688',
 '6_793',
 '6_954',
 '6_1043',
 '6_1052',
 '6_1056',
 '6_1121',
 '6_1139',
 '6_1190',
 '6_1205',
 '6_1212',
 '6_1262',
 '6_1289',
 '6_1322',
 '6_1326',
 '6_1333',
 '6_1342',
 '6_1346',
 '6_1394',
 '6_1399',
 '7_73',
 '7_218',
 '7_232',
 '7_452',
 '7_477',
 '7_580',
 '7_601',
 '7_748',
 '7_825',
 '7_855',
 '7_948',
 '7_1006',
 '7_1135',
 '7_1179',
 '7_1181',
 '7_1192',
 '7_1223',
 '7_1322',
 '7_1326',
 '7_1347',
 '7_1348',
 '7_1363',
 '7_1366',
 '7_1368',
 '7_1391',
 '7_1400',
 '8_15',
 '8_41',
 '8_97',
 '8_101',
 '8_303',
 '8_336',
 '8_418',
 '8_423',
 '8_471',
 '8_579',
 '8_589',
 '8_603',
 '8_607',
 '8_622',
 '8_670',
 '8_673',
 '8_685',
 '8_686',
 '8_693',
 '8_697',
 '8_725',
 '8_735',
 '8_777',
 '8_792',
 '8_816',
 '8_875',
 '8_954',
 '8_960',
 '8_975',
 '8_977',
 '8_984',
 '8_999',
 '8_1039',
 '8_1067',
 '8_1075',
 '8_1176',
 '8_1188',
 '8_1190',
 '8_1277',
 '8_1282',
 '8_1289',
 '8_1313',
 '8_1326',
 '8_1327',
 '8_1366',
 '8_1367',
 '8_1394',
 '8_1400',
 '8_1401',
 '9_51',
 '9_91',
 '9_110',
 '9_118',
 '9_209',
 '9_214',
 '9_232',
 '9_342',
 '9_537',
 '9_552',
 '9_553',
 '9_644',
 '9_647',
 '9_680',
 '9_694',
 '9_710',
 '9_843',
 '9_873',
 '9_894',
 '9_1093',
 '9_1111',
 '9_1205',
 '9_1218',
 '9_1229',
 '9_1249',
 '9_1297',
 '9_1311',
 '9_1315',
 '9_1317',
 '9_1320',
 '9_1328',
 '9_1348',
 '9_1353',
 '9_1367',
 '9_1373',
 '10_25',
 '10_47',
 '10_91',
 '10_103',
 '10_160',
 '10_232',
 '10_251',
 '10_279',
 '10_282',
 '10_378',
 '10_404',
 '10_471',
 '10_549',
 '10_589',
 '10_601',
 '10_602',
 '10_611',
 '10_650',
 '10_688',
 '10_728',
 '10_784',
 '10_817',
 '10_824',
 '10_839',
 '10_896',
 '10_971',
 '10_999',
 '10_1038',
 '10_1067',
 '10_1116',
 '10_1246',
 '10_1292',
 '10_1293',
 '10_1309',
 '10_1333',
 '10_1344',
 '10_1347',
 '10_1382',
 '10_1386',
 '10_1395',
 '10_1402',
 '1_1212',
 '1_1213',
 '1_1234',
 '1_1241',
 '1_1253',
 '1_1263',
 '1_1275',
 '1_1277',
 '1_1282',
 '1_1290',
 '1_1292',
 '1_1323',
 '1_1330',
 '1_1331',
 '1_1339',
 '1_1352',
 '1_1353',
 '1_1361',
 '1_1367',
 '1_1385',
 '1_1403',
 '2_210',
 '2_440',
 '2_542',
 '2_621',
 '2_734',
 '2_819',
 '2_961',
 '2_1296',
 '2_1301',
 '2_1325',
 '2_1344',
 '2_1347',
 '2_1349',
 '2_1353',
 '2_1362',
 '2_1371',
 '2_1383',
 '2_1395',
 '2_1400',
 '2_1404',
 '2_1405',
 '2_1406',
 '3_9',
 '3_110',
 '3_279',
 '3_400',
 '3_449',
 '3_478',
 '3_541',
 '3_601',
 '3_810',
 '3_864',
 '3_896',
 ...]

- Let us randomly check how the sales are for a medicine

In [14]:
 df1=train[train["city_medicine"]=="1_1205"].reset_index(drop=True).drop(["old_new"],axis=1)

In [15]:
df1

          date  sales city_medicine
0   2015-01-03   20.0        1_1205
1   2015-01-07   16.0        1_1205
2   2015-01-12   12.0        1_1205
3   2015-01-14    4.0        1_1205
4   2015-01-16   28.0        1_1205
..         ...    ...           ...
936 2018-06-25   16.0        1_1205
937 2018-06-26   16.0        1_1205
938 2018-06-27    8.0        1_1205
939 2018-06-28   36.0        1_1205
940 2018-06-30   24.0        1_1205

[941 rows x 3 columns]

- We could see there are some missing dates in between where there are no sales
- let us create a function for imputing dates and add sales as zero
- Then extract the first 30 days sales for all the new medicines in each city from train data

In [14]:
df1[df1.index==0]["date"][0]# extracting first day

Timestamp('2015-01-03 00:00:00')

In [37]:
def get_30_rows(city_meds):# function for extracting sales of all the new medicines
    fin=pd.DataFrame()
    for med in city_meds:# for each medicine in train data
        df=train[train["city_medicine"]==med].reset_index(drop=True).drop(["old_new"],axis=1)# take subset 
        start_date=df[df.index==0]["date"][0]# extract  the first day date
        end_date = pd.to_datetime(start_date) + pd.DateOffset(days=31)# add 31 days to start date
        dates=pd.DataFrame()# create dates dataframe for 30 days dates
        dates["date"]=pd.date_range(start=start_date,end=pd.to_datetime(start_date) + pd.DateOffset(days=31),freq="d")
        dates["city_medicine"]=med # creating a column in dates dataframe for city_medicine
        cond = df.date <= end_date # creating condition for extracting the sales till 30 days for each medicine
        df=df[cond]# pass the condition inside the subset dataframe and merge with dates dataframe
        df=dates.merge(df,on=["date","city_medicine"],how="left").fillna(0).reset_index().rename(columns={"index":"ID"})
        fin=pd.concat([fin,df])# we have created id column to indicate the first to last 30 day sales for each medicine
    return fin    # so, now we have an index as reference for each day for each medicine

In [38]:
new_meds_df=get_30_rows(newtrn_city_meds)# run the function get_30_rows and get all the sales data for 30 days

In [39]:
new_meds_df.to_csv("new_meds_ver1.csv")# save it for future reference

- so the next strategy is to take the average sales of all the new medicines in each city for each day

In [43]:
new_meds_df[["city","medicine"]]=new_meds_df["city_medicine"].str.split("_",expand=True)# split city medicine

In [54]:
grp_city_sales=new_meds_df.groupby(["city","ID"])["sales"].mean().reset_index()# groupby city and ID and take mean of sales

In [58]:
grp_city_sales.columns# list of columns after groupby data frame

Index(['city', 'ID', 'sales'], dtype='object')

In [61]:
grp_city_sales["city"]=grp_city_sales["city"].astype("int")# convert city type to int

In [75]:
grp_city_sales.to_csv("new_cityavg_sales.csv",index=False)# save the average sales dataframe for future reference

In [96]:
newtst_city_meds # list of new test medicines

['1_3389',
 '1_3390',
 '2_2654',
 '3_3388',
 '3_3389',
 '4_3389',
 '4_3390',
 '5_3386',
 '5_3363',
 '5_3390',
 '6_3389',
 '7_3388',
 '9_3388',
 '9_3384',
 '10_3371',
 '10_3380',
 '1_3387',
 '2_3387',
 '3_3379',
 '3_3390',
 '4_3391',
 '5_3391',
 '6_3392',
 '6_3390',
 '7_3368',
 '7_3391',
 '7_3392',
 '8_3390',
 '8_3393',
 '9_3390',
 '9_3393',
 '10_3388',
 '10_3378',
 '10_3370',
 '10_3389',
 '10_3390',
 '1_3393',
 '2_3392',
 '3_3392',
 '4_3392',
 '7_3389',
 '7_3390',
 '8_3391',
 '10_3324',
 '2_3368',
 '2_3390',
 '3_3393',
 '5_3392',
 '5_3393',
 '6_3391',
 '7_3366',
 '7_3393',
 '9_3391',
 '1_3392',
 '2_3391',
 '4_3382',
 '5_3216',
 '6_3380',
 '6_3394',
 '10_3393',
 '4_3383',
 '4_3394',
 '5_3345',
 '7_3394',
 '8_3385',
 '9_3350',
 '9_3392',
 '1_3394',
 '3_3380',
 '7_3382',
 '8_3363',
 '9_3394',
 '1_3378',
 '1_3395',
 '3_3395',
 '4_3395',
 '6_3393',
 '7_3383',
 '7_3395',
 '8_2868',
 '8_3381',
 '8_3394',
 '8_3395',
 '9_3378',
 '2_3393',
 '4_3393',
 '5_2861',
 '5_3395',
 '3_3391',
 '3_3394',
 '5_3394',
 '5_3396',
 '8_3396',
 '1_3391',
 '2_3396',
 '2_3090',
 '2_2989',
 '4_3397',
 '4_3396',
 '5_3397',
 '6_3396',
 '7_3396',
 '9_3397',
 '10_3391',
 '2_3395',
 '3_3398',
 '7_3397',
 '8_3380',
 '9_3396',
 '1_3397',
 '1_3396',
 '3_3397',
 '4_3368',
 '6_3395',
 '10_3394',
 '9_3399',
 '9_3395',
 '10_3396',
 '1_3400',
 '3_3399',
 '4_3387',
 '4_3401',
 '4_3400',
 '5_3400',
 '6_3401',
 '8_3377',
 '8_3344',
 '9_3400',
 '10_2601',
 '10_3368',
 '10_3395',
 '1_3398',
 '2_3394',
 '2_3402',
 '4_3399',
 '4_3402',
 '6_3399',
 '6_3402',
 '8_3342',
 '10_3399',
 '10_3402',
 '10_3401',
 '10_3400',
 '1_3399',
 '2_3380',
 '2_3399',
 '2_3401',
 '2_3400',
 '6_700',
 '6_3400',
 '7_3399',
 '8_3399',
 '2_3202',
 '3_3396',
 '3_3401',
 '4_3403',
 '7_2321',
 '10_3392',
 '6_3403',
 '1_3401',
 '5_3370',
 '7_3402',
 '7_3401',
 '7_3400',
 '9_3402',
 '9_3401',
 '1_3404',
 '2_3405',
 '5_3399',
 '5_3402',
 '2_3406',
 '4_3406',
 '5_3371',
 '5_3406',
 '5_3401',
 '6_3406',
 '6_3407',
 '9_3406',
 '1_3403',
 '1_3407',
 '3_3406',
 '4_3404',
 '5_3407',
 '6_3405',
 '7_3405',
 '7_3406',
 '8_3406',
 '9_3404',
 '10_3404',
 '1_3405',
 '3_3408',
 '7_3105',
 '10_3314',
 '10_3406',
 '10_3397',
 '10_3407',
 '1_3377',
 '3_3400',
 '4_3409',
 '5_3405',
 '5_3403',
 '7_3403',
 '2_3407',
 '3_3410',
 '3_3411',
 '4_3105',
 '5_3412',
 '6_3408',
 '7_3407',
 '7_3409',
 '7_3408',
 '10_3409',
 '10_3408',
 '1_3412',
 '1_3411',
 '3_3407',
 '4_3413',
 '4_3414',
 '4_3415',
 '4_3410',
 '5_3105',
 '5_3416',
 '6_3414',
 '6_3415',
 '6_3411',
 '9_3407',
 '9_3413',
 '1_3409',
 '1_3410',
 '1_3417',
 '2_3397',
 '2_3412',
 '4_3416',
 '4_3418',
 '4_3417',
 '5_3408',
 '6_1748',
 '6_3404',
 '6_3412',
 '7_3414',
 '7_3417',
 '8_3400',
 '9_3417',
 '10_3105',
 '10_3411',
 '1_3408',
 '1_3419',
 '1_3418',
 '2_3363',
 '2_3416',
 '3_3419',
 '3_3415',
 '3_3417',
 '4_3408',
 '4_3419',
 '4_3411',
 '5_3419',
 '6_3416',
 '6_3419',
 '6_3417',
 '7_3404',
 '7_3418',
 '8_3401',
 '8_3412',
 '8_3418',
 '8_3417',
 '9_3385',
 '9_3420',
 '9_3415',
 '10_3413',
 '10_3414',
 '1_3421',
 '2_3408',
 '2_3419',
 '3_3416',
 '3_3421',
 '3_3418',
 '4_3420',
 '4_3407',
 '4_3412',
 '4_3421',
 '5_3418',
 '5_3417',
 '6_3397',
 '6_3422',
 '6_3418',
 '7_3413',
 '7_3419',
 '8_3421',
 '8_3419',
 '9_3412',
 '9_3422',
 '9_3408',
 '9_3421',
 '9_3419',
 '9_3418',
 '1_3422',
 '1_3423',
 '3_3420',
 '3_3414',
 '3_3404',
 '3_3422',
 '4_3422',
 '5_3404',
 '5_3421',
 '7_1569',
 '7_3416',
 '7_3422',
 '8_3392',
 '8_3404',
 '10_3421',
 '10_3418',
 '10_3410']

In [112]:
test[test["city_medicine"].isin(newtst_city_meds)]# so there are 3196 rows of new medicines in test data

            id  city  medicine        date city_medicine old_new
2486      2487     1      3389  2018-07-01        1_3389     new
2487      2488     1      3390  2018-07-01        1_3390     new
4104      4105     2      2654  2018-07-01        2_2654     new
7281      7282     3      3388  2018-07-01        3_3388     new
7305      7306     3      3389  2018-07-01        3_3389     new
...        ...   ...       ...         ...           ...     ...
773448  773449    10      3408  2018-07-31       10_3408     old
773449  773450    10      3421  2018-07-31       10_3421     new
773450  773451    10      3418  2018-07-31       10_3418     new
773451  773452    10      3410  2018-07-31       10_3410     new
773452  773453    10      3411  2018-07-31       10_3411     old

[3196 rows x 6 columns]

In [105]:
test[test["city_medicine"]=="1_3396"]# let us check how the sales are in test data for a medicine

            id  city  medicine        date city_medicine old_new
303966  303967     1      3396  2018-07-13        1_3396     new
328057  328058     1      3396  2018-07-14        1_3396     old
351413  351414     1      3396  2018-07-15        1_3396     old
376201  376202     1      3396  2018-07-16        1_3396     old
402388  402389     1      3396  2018-07-17        1_3396     old
428486  428487     1      3396  2018-07-18        1_3396     old
453010  453011     1      3396  2018-07-19        1_3396     old
477119  477120     1      3396  2018-07-20        1_3396     old
501422  501423     1      3396  2018-07-21        1_3396     old
525275  525276     1      3396  2018-07-22        1_3396     old
650174  650175     1      3396  2018-07-27        1_3396     old
674323  674324     1      3396  2018-07-28        1_3396     old

- So we should impute missing dates and  predict the sales
- How do we predict the sales for new medicines in test data ?
- Simple way is the average sales of all the new medicines taken on that day in train data for any new medicine in test data

In [111]:
def new_city_med_sales(lst): # same function as in train data for imputing dates  same explanation follows with little changes
    fin=pd.DataFrame()
    for med in lst:
        df=test[test["city_medicine"]==med].reset_index(drop=True)
        df["date"]=pd.to_datetime(df["date"])
        start_date=df[df.index==0]["date"][0]
        end_date = pd.to_datetime(start_date) + pd.DateOffset(days=31)
        dates=pd.DataFrame()
        dates["date"]=pd.date_range(start=start_date,end=pd.to_datetime(start_date) + pd.DateOffset(days=31),freq="d")
        dates["city_medicine"]=med
        dates["city"]=df[df.index==0]["city"][0]# adding city and medicine column to avoid splitting again
        dates["medicine"]=df[df.index==0]["medicine"][0]
        dates=dates.merge(df,on=["city_medicine","date","city","medicine"],how="left").fillna(0).reset_index().rename(columns={"index":"ID"})
        fin=pd.concat([fin,dates])
    return fin

In [97]:
len(newtst_city_meds)

313

In [100]:
newtst_city_meds

['1_3389',
 '1_3390',
 '2_2654',
 '3_3388',
 '3_3389',
 '4_3389',
 '4_3390',
 '5_3386',
 '5_3363',
 '5_3390',
 '6_3389',
 '7_3388',
 '9_3388',
 '9_3384',
 '10_3371',
 '10_3380',
 '1_3387',
 '2_3387',
 '3_3379',
 '3_3390',
 '4_3391',
 '5_3391',
 '6_3392',
 '6_3390',
 '7_3368',
 '7_3391',
 '7_3392',
 '8_3390',
 '8_3393',
 '9_3390',
 '9_3393',
 '10_3388',
 '10_3378',
 '10_3370',
 '10_3389',
 '10_3390',
 '1_3393',
 '2_3392',
 '3_3392',
 '4_3392',
 '7_3389',
 '7_3390',
 '8_3391',
 '10_3324',
 '2_3368',
 '2_3390',
 '3_3393',
 '5_3392',
 '5_3393',
 '6_3391',
 '7_3366',
 '7_3393',
 '9_3391',
 '1_3392',
 '2_3391',
 '4_3382',
 '5_3216',
 '6_3380',
 '6_3394',
 '10_3393',
 '4_3383',
 '4_3394',
 '5_3345',
 '7_3394',
 '8_3385',
 '9_3350',
 '9_3392',
 '1_3394',
 '3_3380',
 '7_3382',
 '8_3363',
 '9_3394',
 '1_3378',
 '1_3395',
 '3_3395',
 '4_3395',
 '6_3393',
 '7_3383',
 '7_3395',
 '8_2868',
 '8_3381',
 '8_3394',
 '8_3395',
 '9_3378',
 '2_3393',
 '4_3393',
 '5_2861',
 '5_3395',
 '3_3391',
 '3_3394',
 '5_3394',
 '5_3396',
 '8_3396',
 '1_3391',
 '2_3396',
 '2_3090',
 '2_2989',
 '4_3397',
 '4_3396',
 '5_3397',
 '6_3396',
 '7_3396',
 '9_3397',
 '10_3391',
 '2_3395',
 '3_3398',
 '7_3397',
 '8_3380',
 '9_3396',
 '1_3397',
 '1_3396',
 '3_3397',
 '4_3368',
 '6_3395',
 '10_3394',
 '9_3399',
 '9_3395',
 '10_3396',
 '1_3400',
 '3_3399',
 '4_3387',
 '4_3401',
 '4_3400',
 '5_3400',
 '6_3401',
 '8_3377',
 '8_3344',
 '9_3400',
 '10_2601',
 '10_3368',
 '10_3395',
 '1_3398',
 '2_3394',
 '2_3402',
 '4_3399',
 '4_3402',
 '6_3399',
 '6_3402',
 '8_3342',
 '10_3399',
 '10_3402',
 '10_3401',
 '10_3400',
 '1_3399',
 '2_3380',
 '2_3399',
 '2_3401',
 '2_3400',
 '6_700',
 '6_3400',
 '7_3399',
 '8_3399',
 '2_3202',
 '3_3396',
 '3_3401',
 '4_3403',
 '7_2321',
 '10_3392',
 '6_3403',
 '1_3401',
 '5_3370',
 '7_3402',
 '7_3401',
 '7_3400',
 '9_3402',
 '9_3401',
 '1_3404',
 '2_3405',
 '5_3399',
 '5_3402',
 '2_3406',
 '4_3406',
 '5_3371',
 '5_3406',
 '5_3401',
 '6_3406',
 '6_3407',
 '9_3406',
 '1_3403',
 '1_3407',
 '3_3406',
 '4_3404',
 '5_3407',
 '6_3405',
 '7_3405',
 '7_3406',
 '8_3406',
 '9_3404',
 '10_3404',
 '1_3405',
 '3_3408',
 '7_3105',
 '10_3314',
 '10_3406',
 '10_3397',
 '10_3407',
 '1_3377',
 '3_3400',
 '4_3409',
 '5_3405',
 '5_3403',
 '7_3403',
 '2_3407',
 '3_3410',
 '3_3411',
 '4_3105',
 '5_3412',
 '6_3408',
 '7_3407',
 '7_3409',
 '7_3408',
 '10_3409',
 '10_3408',
 '1_3412',
 '1_3411',
 '3_3407',
 '4_3413',
 '4_3414',
 '4_3415',
 '4_3410',
 '5_3105',
 '5_3416',
 '6_3414',
 '6_3415',
 '6_3411',
 '9_3407',
 '9_3413',
 '1_3409',
 '1_3410',
 '1_3417',
 '2_3397',
 '2_3412',
 '4_3416',
 '4_3418',
 '4_3417',
 '5_3408',
 '6_1748',
 '6_3404',
 '6_3412',
 '7_3414',
 '7_3417',
 '8_3400',
 '9_3417',
 '10_3105',
 '10_3411',
 '1_3408',
 '1_3419',
 '1_3418',
 '2_3363',
 '2_3416',
 '3_3419',
 '3_3415',
 '3_3417',
 '4_3408',
 '4_3419',
 '4_3411',
 '5_3419',
 '6_3416',
 '6_3419',
 '6_3417',
 '7_3404',
 '7_3418',
 '8_3401',
 '8_3412',
 '8_3418',
 '8_3417',
 '9_3385',
 '9_3420',
 '9_3415',
 '10_3413',
 '10_3414',
 '1_3421',
 '2_3408',
 '2_3419',
 '3_3416',
 '3_3421',
 '3_3418',
 '4_3420',
 '4_3407',
 '4_3412',
 '4_3421',
 '5_3418',
 '5_3417',
 '6_3397',
 '6_3422',
 '6_3418',
 '7_3413',
 '7_3419',
 '8_3421',
 '8_3419',
 '9_3412',
 '9_3422',
 '9_3408',
 '9_3421',
 '9_3419',
 '9_3418',
 '1_3422',
 '1_3423',
 '3_3420',
 '3_3414',
 '3_3404',
 '3_3422',
 '4_3422',
 '5_3404',
 '5_3421',
 '7_1569',
 '7_3416',
 '7_3422',
 '8_3392',
 '8_3404',
 '10_3421',
 '10_3418',
 '10_3410']

In [114]:
new_tst_city_med_df=new_city_med_sales(newtst_city_meds)# running the function

In [125]:
new_tst_city_med_df

,ID,date,city_medicine,city,medicine,id,old_new,sales
0,0,2018-07-01,1_3389,1,3389,2487.0,new,55.458491
1,1,2018-07-02,1_3389,1,3389,28034.0,old,52.035753
2,2,2018-07-03,1_3389,1,3389,54478.0,old,57.219777
3,3,2018-07-04,1_3389,1,3389,80869.0,old,59.004786
4,4,2018-07-05,1_3389,1,3389,105807.0,old,44.757251
...,...,...,...,...,...,...,...,...
10011,27,2018-08-27,10_3410,10,3410,0.0,0,22.314706
10012,28,2018-08-28,10_3410,10,3410,0.0,0,22.168467
10013,29,2018-08-29,10_3410,10,3410,0.0,0,22.863717
10014,30,2018-08-30,10_3410,10,3410,0.0,0,16.344901
10015,31,2018-08-31,10_3410,10,3410,0.0,0,15.354959

- After imputing the dates merge it with avg sales data frame of train data on city and ID to get sales

In [117]:
new_tst_city_med_df=new_tst_city_med_df.merge(new_ctymeds_df,on=["city","ID"],how="left")

In [120]:
final_preds=new_tst_city_med_df[new_tst_city_med_df["id"]!=0]# to filter only required test data w.r.t rows we need to predict

In [122]:
final_preds["sales"].value_counts().values

array([37, 35, 34, 32, 31, 31, 31, 30, 30, 29, 27, 26, 25, 25, 25, 24, 24,
       24, 23, 23, 21, 21, 21, 20, 20, 20, 20, 20, 20, 20, 19, 19, 18, 18,
       18, 18, 18, 18, 18, 18, 18, 18, 18, 17, 17, 17, 17, 17, 17, 17, 17,
       17, 17, 17, 17, 17, 17, 16, 16, 16, 16, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 14, 14, 14, 14, 14, 14, 14, 14, 14, 13, 13, 13,
       13, 13, 13, 13, 13, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12, 12, 12, 12, 12, 12, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 10, 10, 10, 10, 10, 10, 10,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
      dtype=int64)

In [123]:
final_preds.to_csv("new_citymed_avgpredictions.csv",index=False)# saving for future reference

In [46]:
final_preds["sales"].value_counts()

66.087849    37
61.481200    35
57.710925    35
33.926537    34
59.487500    32
             ..
42.914604     1
36.991692     1
27.287701     1
59.424253     1
45.465638     1
Name: sales, Length: 282, dtype: int64

#### End of exercise